<a href="https://colab.research.google.com/github/ccsailo66/COMP-SCI-5530-0002/blob/main/Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing the proper libraries.

In [4]:
import pandas as pd
import numpy as np

Turing data into df.

In [5]:
df = pd.read_csv('/content/train.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5847 entries, 0 to 5846
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         5847 non-null   int64
 1   Name               5847 non-null   object
 2   Location           5847 non-null   object
 3   Year               5847 non-null   int64
 4   Kilometers_Driven  5847 non-null   int64
 5   Fuel_Type          5847 non-null   object
 6   Transmission       5847 non-null   object
 7   Owner_Type         5847 non-null   object
 8   Mileage            5845 non-null   object
 9   Engine             5811 non-null   object
 10  Power              5811 non-null   object
 11  Seats              5809 non-null   float64
 12  New_Price          815 non-null    object
 13  Price              5847 non-null   float64
dtypes: float64(2), int64(3), object(9)
memory usage: 639.6+ KB

**Question 1** We first drop the null rows for Milage, Engine, Power, and Seats simply becuase, if we do so, we will only lose 40 out of nearly 6000 rows. We then take the units out of the new price, so we can convert to a float. We then replace that float with the median since, assuming our cars should be representative of the car population, the most common price seems like a good estimation.

In [6]:
df.dropna(subset=['Mileage','Engine','Power','Seats'], inplace=True)
df['New_Price'] = df['New_Price'].astype(str).str.replace(' Lakh','').str.replace(' Cr','').astype(float)
df['New_Price'] = df['New_Price'].fillna(df['New_Price'].median())
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5807 entries, 0 to 5846
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         5807 non-null   int64
 1   Name               5807 non-null   object
 2   Location           5807 non-null   object
 3   Year               5807 non-null   int64
 4   Kilometers_Driven  5807 non-null   int64
 5   Fuel_Type          5807 non-null   object
 6   Transmission       5807 non-null   object
 7   Owner_Type         5807 non-null   object
 8   Mileage            5807 non-null   object
 9   Engine             5807 non-null   object
 10  Power              5807 non-null   object
 11  Seats              5807 non-null   float64
 12  New_Price          5807 non-null   float64
 13  Price              5807 non-null   float64
dtypes: float64(3), int64(3), object(8)
memory usage: 680.5+ KB

**Question 2** We already removed the text from New Price in question 1. The rest are removed below.

In [7]:
df['Mileage'] = df['Mileage'].astype(str).str.replace(' kmpl','').str.replace(' km/kg','').astype(float)
df['Engine'] = df['Engine'].astype(str).str.replace(' CC','').astype(float)
df['Power'] = df['Power'].astype(str).str.replace(' bhp','').astype(float)
df

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582.0,126.20,5.0,11.475,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13.00,1199.0,88.70,5.0,8.610,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248.0,88.76,7.0,11.475,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968.0,140.80,5.0,11.475,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461.0,63.10,5.0,11.475,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.40,1248.0,74.00,5.0,7.880,4.75
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.40,1120.0,71.00,5.0,11.475,4.00
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.00,2498.0,112.00,8.0,11.475,2.90
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.90,998.0,67.10,5.0,11.475,2.65
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44,936.0,57.60,5.0,11.475,2.50

**Question 3** Here we convert Fuel_Type and Transmission to numerical values as the question asks.

In [8]:
df['Fuel_Type'] = df['Fuel_Type'].astype('category').cat.codes
df['Transmission'] = df['Transmission'].astype('category').cat.codes
df

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,0,1,First,19.67,1582.0,126.20,5.0,11.475,12.50
1,2,Honda Jazz V,Chennai,2011,46000,1,1,First,13.00,1199.0,88.70,5.0,8.610,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,0,1,First,20.77,1248.0,88.76,7.0,11.475,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,0,0,Second,15.20,1968.0,140.80,5.0,11.475,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,0,1,First,23.08,1461.0,63.10,5.0,11.475,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,0,1,First,28.40,1248.0,74.00,5.0,7.880,4.75
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,0,1,First,24.40,1120.0,71.00,5.0,11.475,4.00
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,0,1,Second,14.00,2498.0,112.00,8.0,11.475,2.90
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,1,1,First,18.90,998.0,67.10,5.0,11.475,2.65
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,0,1,First,25.44,936.0,57.60,5.0,11.475,2.50

**Question 4** Here we define a new column that finds the difference between the cars the price and current price to see how much cheaper/expensive a car has become.

In [9]:
df.assign(Change_In_Price = df['New_Price'] - df['Price'])

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Change_In_Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,0,1,First,19.67,1582.0,126.20,5.0,11.475,12.50,-1.025
1,2,Honda Jazz V,Chennai,2011,46000,1,1,First,13.00,1199.0,88.70,5.0,8.610,4.50,4.110
2,3,Maruti Ertiga VDI,Chennai,2012,87000,0,1,First,20.77,1248.0,88.76,7.0,11.475,6.00,5.475
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,0,0,Second,15.20,1968.0,140.80,5.0,11.475,17.74,-6.265
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,0,1,First,23.08,1461.0,63.10,5.0,11.475,3.50,7.975
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,0,1,First,28.40,1248.0,74.00,5.0,7.880,4.75,3.130
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,0,1,First,24.40,1120.0,71.00,5.0,11.475,4.00,7.475
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,0,1,Second,14.00,2498.0,112.00,8.0,11.475,2.90,8.575
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,1,1,First,18.90,998.0,67.10,5.0,11.475,2.65,8.825
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,0,1,First,25.44,936.0,57.60,5.0,11.475,2.50,8.975

**Question 5** Below I perform the python equivilent of select, filter, rename, mutate, arrange, and summerize.

In [48]:
new_df = df.loc[df['New_Price']== df['New_Price'].median()].rename(columns = {'Name' : "Make/Model"})[['Make/Model','Mileage']].sort_values(by='Mileage')
new_df.groupby('Make/Model').agg('mean')

                                Mileage
Make/Model
Ambassador Classic Nova Diesel    12.80
Audi A3 35 TDI Attraction         20.38
Audi A3 35 TDI Premium            20.38
Audi A3 35 TDI Technology         20.38
Audi A4 1.8 TFSI                  12.30
...                                 ...
Volvo XC60 D4 Summum              14.70
Volvo XC60 D5                     13.50
Volvo XC60 D5 Inscription         11.20
Volvo XC90 2007-2015 D5 AT AWD    11.10
Volvo XC90 2007-2015 D5 AWD       11.10

[1494 rows x 1 columns]